{% extends 'client.html.twig' %}

{% block title %}Ajout de complement{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_panier_add') }}" >
        <div class="row">
            <div class="col-8">
                <input type="text" value="1" name="{{ id }}" hidden>
                <div class="modal-body">

                    <div class="row justify-content-center">
                        <div class="shoping__cart__table">
                            <table class="table mt-3">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Qte</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for comp in complements %}
                                    <tr>
                                        <th>
                                            <img class="rounded" height="100px" width="100px" src="{{ asset("produits/") }}{{ comp.image }}">
                                        </th>
                                        <td>{{ comp.libelle }}</td>
                                        <td>{{ comp.prix }}</td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="0" name="{{ comp.id }}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-4" style="margin-top: 100px">
               <input type="submit" class="btn btn-success" value="Ajouter au panier">
            </div>
        </div>

    </form>
{% endblock %}
