<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ asset("client/css/bootstrap.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ asset("client/css/font-awesome.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ asset("client/css/elegant-icons.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ asset("client/css/nice-select.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ asset("client/css/jquery-ui.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ asset("client/css/owl.carousel.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ asset("client/css/slicknav.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ asset("client/css/style.css") }}" type="text/css">
</head>

<body>



<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">


                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{{ path('app_home') }}">Shop</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="{{ path('app_panier') }}"><i class="fa fa-shopping-bag"></i> <span>{{ app.session.get('panier')|length     }}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->

<!-- Hero Section End -->



{% block body %}

{% endblock %}

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> <i class="fa fa-heart" aria-hidden="true"></i>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{{ asset("client/js/jquery-3.3.1.min.js") }}"></script>
<script src="{{ asset("client/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("client/js/jquery.nice-select.min.js") }}"></script>
<script src="{{ asset("client/js/jquery-ui.min.js") }}"></script>
<script src="{{ asset("client/js/jquery.slicknav.js") }}"></script>
<script src="{{ asset("client/js/mixitup.min.js") }}"></script>
<script src="{{ asset("client/js/owl.carousel.min.js") }}"></script>
<script src="{{ asset("client/js/main.js") }}"></script>



</body>

</html>